body {
    margin: 0;
    padding: 0;
    background-color: rgb(44, 50, 100);
    scroll-behavior: smooth;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 300;
}

#footer {
    font-size: 0.8em;
    text-align: center;
    color: gray;

}




/*大標題*/
h1 {
    font-family: 'Noto Serif TC', serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 4em;
    font-weight: 600;
    line-height: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    padding-top: 10vh;
    margin: 0;
}

h2{
    font-family: 'Noto Serif TC', serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 1.5em;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    z-index: 1;
    position: relative;
    margin: 0;
}

.summary {
    font-size: 1.2em;
    text-shadow: black 0.1em 0.1em 0.2em;
    line-height: 2em;
    color: aliceblue;
    width: 40%;
    margin: auto;
    z-index: 1;
    position: relative;
}

/*索引標籤*/
#nav {
    display: inline-block;
    position: sticky;
    top: 0em;
    width: 100vw;
    background-color: rgba(245, 245, 245);
    padding: 1em;
    text-align: left;
    z-index: 9;
    margin: 0;

}

#nav li {
    font-size: 1em;
    font-weight: 500;
    margin: 0.8em;
    text-shadow: black 0.1em 0.1em 0.2em;
    transition: all .1s ease-in-out;
    display: inline;
}




a,
a:link,
a:visited {
    color: aliceblue;
    text-decoration: none;
}

a:hover {
    color: #f170dc;
    text-decoration: none;
}


/* 章節標題 */
h3 {
    font-family: 'Noto Serif TC', serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    margin: 15vh 2vw 0 0;
    line-height: 1.5em;
    position: sticky;
    top: 20vh;
    float: right;
    z-index: 1;
    padding: 0;
}


/*文章*/


p {
    margin-top: 2em;
}

#ch1_history,
#ch2_old,
#ch3_now,
#ch4_future {
    padding-top: 4.2em;
}

.article {
    font-size: 1.2em;
    line-height: 1.8em;
    color: aliceblue;
    width: 40%;
    margin: auto;
    z-index: 1;
    position: relative;
    height: auto;
    padding: 0;

}

.bgimage {
    width: 100vw;
    height: 90vh;
    position: relative;
    background-image: url('/assets/title_bg_2.jpg');
    background-size: cover;
}